<h1>支付导航</h1>
<p>
    <a href="/alipay/web">支付宝web支付（使用pc浏览器打开）</a>
</p>
<p>
    <a href="/alipay/wap">支付宝wap支付（使用手机浏览器打开）</a>
</p>
<p>
    <a href="/wxpay/web">微信扫码支付（使用pc浏览器打开）</a>
</p>
<p>
    <a href="/wxpay/wap">微信公众号支付（使用手机微信打开）</a>
</p>