{{#extend "title"}} 支付宝退款 {{/extend}}

<form action="/alipay/refund" method="post">
    <div>
        批次号: <input name="batch_no" type="text" value="{{batchNo}}">
    </div>
    <div>
        批次数: <input name="batch_num" type="text" value="1">
    </div>
    <div>
        单笔数据集: <input name="detail_data" type="text" placeholder="原付款支付宝交易号^退款总金额^退款理由">
    </div>
    <div>
        <button type="submit">提交</button>
    </div>
</form>